<div class="card">
    <header class="card-header">
        <p class="card-header-title">
            {{ interface.title }}
        </p>
    </header>
    <div class="card-content">
        <table class="table">
            <thead>
            <tr>
                {% for heading in interface.headings %}
                <td>{{ heading }}</td>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row in interface.data %}
                <tr>
                {% for cell in row %}
                    <td>{{ cell|linebreaks }}</td>
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>