<canvas id="id-{{ chart_name }}" width="400" height="400"></canvas>
<!--suppress JSUnusedLocalSymbols -->
<script>
    (function () {
        const bgColours = [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
        ];

        const borderColours = [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
        ];

        const ctx = document.getElementById('id-{{ chart_name }}').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: [{% for row in interface.data %}"{{ row.name }} ({{ row.units.value }})",{% endfor %}],
        datasets: [{
            label: "{{ interface.title }}",
            data: [{% for row in interface.data %}"{{ row.value }}",{% endfor %}],
            backgroundColor: bgColours,
            borderColor: borderColours,
            borderWidth: 1
        }]
    },
        options: {
                responsive: false
        }
    })
    ;

    })
    ();

</script>