<div class="card">
    <header class="card-header">
        <p class="card-header-title">
            {{ interface.title }}
        </p>
    </header>
    <div class="card-content">
        <table class="table">
            <thead>
            <tr>
                <td>Data</td>
                <td>Value</td>
            </tr>
            </thead>
            <tbody>
            {% for row in interface.data %}
                <tr>
                    <td>
                        {% if row.description %}
                            <span data-tooltip="{{ row.description }}">{{ row.name }}</span>
                        {% else %}
                            {{ row.name }}
                        {% endif %}
                    </td>
                    <td>{{ row.value|floatformat:2 }} {{ row.units.value }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>