{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <script>
    </script>
    <title>Gary's NAS</title>

    <link rel='icon' type='image/png' href="{% static 'garys_nas/favicon.png' %}">

    <!-- Libraries -->

    <!--suppress SpellCheckingInspection -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <!--suppress SpellCheckingInspection -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tooltip@1.2.0/dist/bulma-tooltip.min.css">

    <link rel="stylesheet" href="{% static 'garys_nas/vendor/fontawesome-free/css/all.min.css'%}">
    <!--suppress SpellCheckingInspection -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>

    <!-- Static Template Includes-->
    <script defer src="{% static 'garys_nas/js/activate_nav_burger.js'%}"></script>
    <link rel='stylesheet' href='{% static 'garys_nas/css/global.css'%}'>

    <!-- Svelte Includes-->
    {% block head_include %}
    {% endblock %}
</head>
<body>

<!-- START NAV -->
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <!--suppress CheckImageSize -->
            <img src="{% static 'garys_nas/favicon.png' %}" width="28" height="28" alt="logo">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
           data-target="mainNavbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="mainNavbar" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{% url 'base' %}">
                Home
            </a>
            {% if cockpit_address %}
            <a class="navbar-item" href="{{ cockpit_address }}">
                Cockpit
            </a>
            {% endif %}
            <a class="navbar-item" href="{% url 'admin:index' %}">
                Admin
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-light">
                        Log in
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- END NAV -->

{% block main %}
{% endblock %}

<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <strong>Gary's NAS</strong> by Gary Thompson. The source code is licensed
                <!--suppress HttpUrlsUsage -->
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
                <br>
            </p>
        </div>
    </div>
</footer>

</body>
</html>
