{% extends "garys_nas/base.html" %}

{% block main %}
    <section class="section">
        <h1 class="title">{{ hostname }}</h1>
        {% include "garys_nas/includes/2d_table.html" with interface=net_data %}

        <h1 class="title">NAS Status</h1>
        <h2 class="subtitle">
            System Components
        </h2>
        <div class="columns">
            <div class="column">
                {% include "garys_nas/includes/sensor_data_table.html" with interface=mem_data %}
            </div>
            <div class="column">
                {% include "garys_nas/includes/doughnut_chart.html" with interface=mem_chart chart_name="mem_chart" %}
            </div>
            <div class="column">
                {% include "garys_nas/includes/doughnut_chart.html" with interface=swap_chart chart_name="swap_chart" %}
            </div>
            <div class="column">
                {% include "garys_nas/includes/sensor_data_table.html" with interface=swap_data %}
            </div>
        </div>
        <div class="columns">
            <div class="column">
                {% include "garys_nas/includes/sensor_data_table.html" with interface=load_stats %}
            </div>
            <div class="column">
                {% include "garys_nas/includes/sensor_data_table.html" with interface=temp_data %}
            </div>
        </div>

        <h2 class="subtitle">
            Storage
        </h2>

        <p>NODE levels and Health information (including SMART summary).
            Maybe link to more detailed reports.</p>

        <h2 class="subtitle">
            Services
        </h2>

        <p>Running Services perhaps with start/stop functionality in the
            future (using a periodic poll script to sync live status with
            command status to avoid running commands directly from web service)</p>

    </section>
{% endblock %}
